

html {position:relative; }
body {background-image: url(Gallery/paiclas.jpg); background-attachment: fixed; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; min-width: 80vh; display: flex; flex-direction: column;}
*{margin:0 ;padding: 0px; list-style: none;text-decoration: none;box-sizing: border-box;/* border box asegura que se el borde no cambie la posicion de los elementos*/ outline: red  2px solid; } 
.main { display:flex;  justify-content: center;  margin: auto 10%; flex-direction: column; }
/*=============================================
=           Header    
  =============================================*/

  .header {display:flex; justify-content: space-between; ; flex-wrap: wrap; background-color:#02234E ;align-items: center; height: 30vh; width: 100%;  }
  /* button {background: transparent; border: none;}
   */.logo-header {display:flex;justify-content: center; height: inherit; width: 100%; }
  
  #search-box input { height: 100%; width: 80%; font-family: Roboto; font-size:3em; text-align: center; }
  
  .session {display: flex; justify-content: space-around;text-align: center;margin-left: -20%;}
  
  
  /* buttons */
  /* #login-button {margin-left: 0 !important;} */
  .btn-primary {display:flex;height: 3rem;width: 10rem; border-radius: 2rem;background:gainsboro;padding: 2%;justify-content: center; align-items: center;}
   .btn-primary:hover {background-color:#45D09D; transform:scale(1.2); border-color: whitesmoke; border-width: 2px;}
  .btn-primary span {font-family: roboto;font-style: bold; font-size: 22px; text-align: center;color: #02234E;}
  .modal {display: flex; justify-content: center; border: white 1px solid; color: #02234E;}
  .modal-title {font-size: 1em;margin-left:40%; font-family: 'Roboto' ; color: white; text-align: center;}
  .modal-header {text-align: center;background-color: #02234E;}
  .modal-body {background:linear-gradient(#406FAB,#45D09D);font-size: 0.5em ; } 
  .modal-footer {background-color:#02234E;justify-content: center;}
  
  
  .modal-footer .btn-primary span {font-family: roboto;font-style: bold; font-size: 1em; text-align: center;;color: gainsboro;}
  label  {font-size: 1em; font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
   input {margin: 15% 0%; border-radius: 30px;}
  .login-input {text-transform: capitalize;text-align: center;}
  .login-modal input  {width: 15rem; height:3rem ;}
   input::placeholder {font-size: 2rem; margin:10% 0;} 
  
  
  /* 
  #login-button {display:flex;height:3em; width: 10em; border-radius: 2em;background:gainsboro;padding: 2%;justify-content: center;} */
  #register-button  {display:flex;height:3em; width: 10em; border-radius: 2em;background:gainsboro;padding: 2%;justify-content: center;}
  /*
  center span {font-size: 22px;font-family: roboto;font-style: bold; }*/
  header button span {color: #02234E;font-family: verdana;font-weight: 900;/* justify-content: center; */}
  button span{  font-family: roboto;font-style: bold; font-size: 22px; text-align: center;;color: #02234E; }

/*===================================
=            Beach-details             =
===================================*/
.titles {display: flex; width: 100%; flex-direction: column; height: 100%; text-align: center; line-height: 2em; margin-top:5%; font-size: 3em; font-family: 'titan one'; }
.titles h1, h2 {padding: 2%;}
 .img-detail {height: 30vh; width: 30vw; margin: 0 10%; border: white solid 0.3em; float: left;}
 .details-button {background-color: gold;  font-family: 'popins'; font-weight: 900;}
 p {font-size: 2em; font-family: 'popins'; font-style:oblique;}

 .img-container {margin: 5% 5%;}

 .img-container p {text-indent: 2em;}

.beach-buttons{display: flex; width: 50%;}

.details-button {margin-left: 20%; width: 10vw; border-radius: 1em;}

@font-face {
  font-family:'NotoSans' ;
  src: url(NotoSans\ handwriting/NotoSans-Black.ttf/.beach-buttons) format('tff');
}

/* Footer */


#footer {color: white;  background-color: #02234E; height:auto; width: 100vw; display: flex; align-items: center; flex-wrap: wrap;  align-self: center;bottom: 0; position: relative;  margin-top: auto;}
.social-container {margin-top: 7%;}
#footer  p {font-family: Roboto; font-size: 20px; text-align:center; align-items: center; }
.footer-title{ font-size:20px; font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;}
.social { display: flex; justify-content: space-around; align-items: center; }
.fa-twitter {font-size: 3em;font-style: normal;font-family: 'fontawesome';}
.fa-instagram {font-size: 3em;font-style: normal;  font-family: 'fontawesome';}
.fa-facebook-f {font-size: 3em;font-style: normal;font-family: 'fontawesome';}
.logo-footer {display: flex;justify-content:center; position: relative; right: 20%;}




/* -------------------------------------------------------------------------- */
/*                                   columns                                  */
/* -------------------------------------------------------------------------- */

.fila {width: 100%; height: auto; margin: auto;position: relative;clear: both; display: table; }

[class*="col-"]{float: left;} /*padding: 50px;}*/

/* Para saber el ancho de cada columna se hace una regla de 3> n*100/12 donde n es el numero de columna  */

/* large device  */
@media all and  (min-width:1200px) {
.col-lg-12 {width: 100%;}
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9 {width: 75%;}
.col-lg-8 {width: 66.666666%;}
.col-lg-7 {width: 58.33333333%;}

.col-lg-6 {width: 50%;}
.col-lg-5 {width: 41.67%;}

.col-lg-4{width: 33.33333333%;}

.col-lg-3{width: 25%;}
.col-lg-2 {width: 16.66666667%;}
.col-lg-1 {width: 8.33333333%;} 
.col-lg-0 {display: none;}

.main-cover {flex-wrap: nowrap;}
.menu-header {flex-wrap: nowrap;}
#footer {margin-right: 0;}
.header {height: 20vh;}
/* #login-buttom {margin-left: 50%;} */
.register-process {min-height: 100vh; }
.btn-container {margin-bottom: 10%;}
.image-gallery {margin: 50px;}
}
/*medium device   */

@media all and (max-width: 1199px) and (min-width:992px)  {

.col-md-12 {width: 100%;}
.col-md-11 {width: 91.66666667%;}
.col-md-10 {width: 83.33333333%;}
.col-md-9 {width: 75%;}
.col-md-8 {width: 66.666666666%;}
.col-md-7 {width: 58.33333333%;}

.col-md-6 {width: 50%;}
.col-md-5 {width: 41.67%;}

.col-md-4{width: 33.33333333%;}

.col-md-3{width: 25%;}
.col-md-2 {width: 16.66666667%;}
.col-md-1 {width: 8.33333333%;}
.col-md-0 {display: none;}
.cover-image {width: 50%;}
.text-cover  {width: 50%;}
.title-text  {width: 50%;}
.subtitle-text {width: 50%;}
.description-text  {width: 50%;}
.miniature {width: 50%;}
.fa-umbrella-beach {width: 50%;}
#login-button{margin-left: 20%;}
.miniature {width: 30%;}
.fa-umbrella-beach {margin:0% 0% 10% 80% ;}
.images {width: 60%;} 
.cover-image{width: 60%;}
.states {justify-content: flex-start;}
#footer {height: 5%; margin: auto;}
.main-gallery{padding-bottom: 30%;}}
.cover-image {width: 100%;}
.session {width: 100%;}




/* small devices  */

  @media all and (max-width: 991px) and (min-width: 768px)

  {
.col-sm-12 {width: 100%;}
.col-sm-11 {width: 91.66666667%;}
.col-md-10 {width: 83.33333333%;}
.col-sm-9 {width: 75%;}
.col-sm-8 {width: 66.666666666%;}
.col-sm-7 {width: 58.33333333%;}

.col-sm-6 {width: 50%;}
.col-sm-5 {width: 41.67%;}

.col-sm-4{width: 33,33333333%;}

.col-sm-3{width: 25%;}
.col-sm-2 {width: 16.66666667%;}
.col-sm-1 {width: 8.33333333%;}
.col-sm-0 {display: none;}
.footer {width: 130%;}
.session{margin-bottom: 10%;}
.box-1{max-height: 200px;}
.box-2{max-height:200px ;}
.box-3{max-height:200px ;}
.session {margin: 0% 30%;}
#register-button {margin-left: 250%;}
.images {width: 80%;} 
.cover-image{width: 100%;}
#footer {margin-right: 0;}
.header {height:auto;}

 }

/* extra small devices */

@media all and (max-width: 767px){

.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.666666666%;}
.col-xs-7 {width: 58.33333333%;}

.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.67%;}

.col-xs-4{width: 33,33333333%;}

.col-xs-3{width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}
.col-xs-0 {display: none;}}