
/* General styles  */

html {position:relative; min-width: auto; }
*{margin:0 ;padding: 0px; list-style: none;text-decoration: none;box-sizing: border-box;/* border box asegura que se el borde no cambie la posicion de los elementos*/ outline: red  2px solid; } 





/*=========================================
=            Register process             =
=========================================*/

.main { display:flex;  justify-content: center; background: linear-gradient(#45D09D  ,#406FAB 35%); width: 100%;  }

.register-frame {display:flex; flex-direction:row; ;width: auto; flex-wrap: wrap;}
.register-frame h1 {font-size: 1rem;}





 form {margin-left:5%;  }
label {margin-bottom:10px; display: inline-flex; margin-right:5%; font-size: 2rem; font-family: 'Times New Roman', Times, serif; font-style: bold; }
input {height: 3em; width:15em;}
 [type=radio] {height: 1.5rem;}
/* h2 {z-index: 5; font-size:50px; position: relative; /*padding: 70px; text-align: center;} */
.select-container {display: flex;}
.radio-txt {font-size: 2rem;}
.form-check-input {font-size: 1.5rem;}
.btn-danger {margin-left: 5%; width: 10rem;}
.btn-success {width:10rem;}
.space {height: 10vh;}
.btn-container {display: flex; }
#passwordInput {margin-left: 5rem;}
[for*="pass"] {margin-left: 5rem;}
.form-control {width: 15rem;}


.fila {width: 100%; height: auto; margin: auto;position: relative;clear: both; display: table; }

[class*="col-"]{float: left;} /*padding: 50px;}*/

/* Para saber el ancho de cada columna se hace una regla de 3> n*100/12 donde n es el numero de columna  */

/* large device  */
@media all and  (min-width:1200px) {
.col-lg-12 {width: 100%;}
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9 {width: 75%;}
.col-lg-8 {width: 66.666666%;}
.col-lg-7 {width: 58.33333333%;}

.col-lg-6 {width: 50%;}
.col-lg-5 {width: 41.67%;}

.col-lg-4{width: 33.33333333%;}

.col-lg-3{width: 25%;}
.col-lg-2 {width: 16.66666667%;}
.col-lg-1 {width: 8.33333333%;} 
.col-lg-0 {display: none;}

.main-cover {flex-wrap: nowrap;}
.menu-header {flex-wrap: nowrap;}
#footer {margin-right: 0;}
.header {height: 20vh;}
/* #login-buttom {margin-left: 50%;} */
.register-process {min-height: 100vh; }
.btn-container {margin-bottom: 10%;}
.image-gallery {margin: 50px;}
}
/*medium device   */

@media all and (max-width: 1199px) and (min-width:992px)  {

.col-md-12 {width: 100%;}
.col-md-11 {width: 91.66666667%;}
.col-md-10 {width: 83.33333333%;}
.col-md-9 {width: 75%;}
.col-md-8 {width: 66.666666666%;}
.col-md-7 {width: 58.33333333%;}

.col-md-6 {width: 50%;}
.col-md-5 {width: 41.67%;}

.col-md-4{width: 33.33333333%;}

.col-md-3{width: 25%;}
.col-md-2 {width: 16.66666667%;}
.col-md-1 {width: 8.33333333%;}
.col-md-0 {display: none;}
.cover-image {width: 50%;}
.text-cover  {width: 50%;}
.title-text  {width: 50%;}
.subtitle-text {width: 50%;}
.description-text  {width: 50%;}
.miniature {width: 50%;}
.fa-umbrella-beach {width: 50%;}
#login-button{margin-left: 20%;}
.miniature {width: 30%;}
.fa-umbrella-beach {margin:0% 0% 10% 80% ;}
.images {width: 60%;} 
.cover-image{width: 60%;}
.states {justify-content: flex-start;}
#footer {height: 5%; margin: auto;}
.main-gallery{padding-bottom: 30%;}}
.cover-image {width: 100%;}
.session {width: 100%;}




/* small devices  */

  @media all and (max-width: 991px) and (min-width: 768px)

  {
.col-sm-12 {width: 100%;}
.col-sm-11 {width: 91.66666667%;}
.col-md-10 {width: 83.33333333%;}
.col-sm-9 {width: 75%;}
.col-sm-8 {width: 66.666666666%;}
.col-sm-7 {width: 58.33333333%;}

.col-sm-6 {width: 50%;}
.col-sm-5 {width: 41.67%;}

.col-sm-4{width: 33,33333333%;}

.col-sm-3{width: 25%;}
.col-sm-2 {width: 16.66666667%;}
.col-sm-1 {width: 8.33333333%;}
.col-sm-0 {display: none;}
.footer {width: 130%;}
.session{margin-bottom: 10%;}
.box-1{max-height: 200px;}
.box-2{max-height:200px ;}
.box-3{max-height:200px ;}
.session {margin: 0% 30%;}
#register-button {margin-left: 250%;}
.images {width: 80%;} 
.cover-image{width: 100%;}
#footer {margin-right: 0;}
.header {height:auto;}

 }

/* extra small devices */

@media all and (max-width: 767px){

.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.666666666%;}
.col-xs-7 {width: 58.33333333%;}

.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.67%;}

.col-xs-4{width: 33,33333333%;}

.col-xs-3{width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}
.col-xs-0 {display: none;}}