

html {position:relative; min-width: auto; }
*{margin:0 ;padding: 0px; list-style: none;text-decoration: none;box-sizing: border-box;/* border box asegura que se el borde no cambie la posicion de los elementos*/ outline: red  2px solid; } 


.main { display:flex;  justify-content: center; background: linear-gradient(#45D09D  ,#406FAB 35%); width: 100%;  }
.main-center {width:80vw;}
.menu-header a { color: white;}
 .menu-header {color: white;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';font-size:  2em;display: flex; justify-content: space-around; padding-bottom: 3%;  font-weight: 900; flex-wrap: wrap;}
body {margin: 0;display: grid; min-height: 100vh; grid-template-rows:auto ; }
a {text-decoration: none;}
           
/*=============================================
=           Header    
  =============================================*/

 .header {display:flex; justify-content: space-between; ; flex-wrap: wrap; background-color:#02234E ;align-items: center; height: 50%;  }
/* button {background: transparent; border: none;}
 */.logo-header {display:flex;justify-content: center; height: inherit; width: 100%; }

#search-box input { height: 100%; width: 80%; font-family: Roboto; font-size:3em; text-align: center; }

.session {display: flex; justify-content: space-around;text-align: center;margin-left: auto;}
.imagen-prueba {height: 200px; width: 200px;
}
/* buttons */
/* #login-button {margin-left: 0 !important;} */
.btn-primary {display:flex;height: 3rem;width: 10rem; border-radius: 2rem;background:gainsboro;padding: 2%;justify-content: center; align-items: center;}
 .btn-primary:hover {background-color:#45D09D; transform:scale(1.2); border-color: whitesmoke; border-width: 2px;}
.btn-primary span {font-family: roboto;font-style: bold; font-size: 22px; text-align: center;color: #02234E;}
.modal {display: flex; justify-content: center; border: white 1px solid; color: #02234E;}
.modal-title {font-size: 1em;margin-left:40%; font-family: 'Roboto' ; color: white; text-align: center;}
.modal-header {text-align: center;background-color: #02234E;}
.modal-body {background:linear-gradient(#406FAB,#45D09D);font-size: 0.5em ; } 
.modal-footer {background-color:#02234E;justify-content: center;}


.modal-footer .btn-primary span {font-family: roboto;font-style: bold; font-size: 1em; text-align: center;;color: gainsboro;}
label  {font-size: 1em; font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
 input {margin: 15% 0%; border-radius: 30px;}
.login-input {text-transform: capitalize;text-align: center;}
.login-modal input  {width: 15rem; height:3rem ;}
 input::placeholder {font-size: 2rem; margin:10% 0;} 


/* 
#login-button {display:flex;height:3em; width: 10em; border-radius: 2em;background:gainsboro;padding: 2%;justify-content: center;} */
#register-button  {display:flex;height:3em; width: 10em; border-radius: 2em;background:gainsboro;padding: 2%;justify-content: center;}
/*
center span {font-size: 22px;font-family: roboto;font-style: bold; }*/
header button span {color: #02234E;font-family: verdana;font-weight: 900;/* justify-content: center; */}
button span{  font-family: roboto;font-style: bold; font-size: 22px; text-align: center;;color: #02234E; }


/*===============================================
=           Main cover         =
===============================================*/


 /* 
.cover {padding: 5%;} */
.main-cover {display: flex; flex-wrap: wrap; margin: 0; padding-top: 5%;justify-content: center;}
.image-position {height: inherit;display: flex; }
.images{position: relative;margin: 0;border: white solid 0.3em; }
.cover-image {filter:blur(0.5em); width:33.33%; height:100%;z-index:1;}
.miniature {position: absolute;  height: 40%;width: 30%;z-index: 2; top: 5%;  left: 2%; border: solid white .3em; float: left;}
.text-cover {position: absolute;top: 5%; left:  35%; z-index:3;margin: 10% 5%;color: white;overflow: hidden; height: 20em;}
.title-text {font-family: roboto; font-size:1em; font-style: bold; text-align: left; margin-bottom: 10%;} 
.subtitle-text {font-family: roboto; font-size: 1em; text-align: left; font-style: italic;color: white; margin: 35%; height: 20em; } 
.description-text {font-family: verdana; font-style:bold; font-size: 1em; text-align: left;line-height: 1.5em;text-align: left;color: white;  }
.button-link-cover { align-items: center; position: absolute; bottom: 5%; left: 60%; justify-content: center;}
.link-cover {background-color:#02234E; border-radius: 30em; width: 8rem;height: 2rem;  }
.fa-umbrella-beach {color: white; margin-left: 15%; font-size: 2em;
       position: relative; bottom: 10%;  margin-left: 5%;
       z-index: 4;}


/*===============================================
=            States beaches links             =
===============================================*/
/* .fila h2 { margin-bottom:100px ; }
 .fila h2:last-child {margin-top: 100px;}*/

 
#states-title {font-family: roboto; font-style: bold; font-size: 3em;text-align:center; padding: 5% 0;}


.states {display: flex; flex-direction: column-reverse ;   justify-content: center; width: auto;  }

nav li  {margin: 1em; align-items: center;}




nav button{ background-color: #02234E; border-radius: 34em; margin: 0% 20% 0% 20% ; height: 3em;width: 12em;}
button span {font-size: 1em; font-family: roboto; font-weight:bold ; text-align: center; color: white;}


/*========================
=   Most visited         =
========================*/



#session2 {font-family: roboto; font-style: bold; font-size: 3em; padding: 5%; }




.gallery-container{ height:auto; width: 100%; margin:auto;display: flex; justify-content: center; }
.gallery-container h2 { color: black;}
.image-gallery { border: solid white 0.3em; margin: auto;flex-shrink: initial; height: 30vh; width: 20vw;}
.fa-star {color: yellow; font-size: 1em;margin: 5%;}
.star {display: flex; justify-content: center; margin: 5%;}
.gallery-container h3  { text-align: center;  font-size:2em; font-family: roboto; color: black; }
.gallery-text {display: block; justify-content: center;}
#viewest {padding-bottom: 10%;}


/*==============================
=            Footer            =

==============================*/


 #footer {color: white;  background-color: #02234E; height:auto; width: 100vw; display: flex; align-items: center; flex-wrap: wrap;  align-self: center; }
 .social-container {margin-top: 7%;}
 #footer  p {font-family: Roboto; font-size: 20px; text-align:center; align-items: center; }
.footer-title{ font-size:20px; font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;}
.social { display: flex; justify-content: space-around; align-items: center; }
.fa-twitter {font-size: 3em;font-style: normal;font-family: 'fontawesome';}
.fa-instagram {font-size: 3em;font-style: normal;  font-family: 'fontawesome';}
.fa-facebook-f {font-size: 3em;font-style: normal;font-family: 'fontawesome';}
.logo {height: 10rem;width: 10rem;fill: goldenrod;}
.logo-footer {display: flex;justify-content:center; position: relative; right: 20%;}









/*=====  End of Cayopaicla   ======*/


/*======================================
=            Column system             =
======================================*/


.fila {width: 100%; height: auto; margin: auto;position: relative;clear: both; display: table; }

[class*="col-"]{float: left;} /*padding: 50px;}*/

/* Para saber el ancho de cada columna se hace una regla de 3> n*100/12 donde n es el numero de columna  */

/* large device  */
@media all and  (min-width:1200px) {
.col-lg-12 {width: 100%;}
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9 {width: 75%;}
.col-lg-8 {width: 66.666666%;}
.col-lg-7 {width: 58.33333333%;}

.col-lg-6 {width: 50%;}
.col-lg-5 {width: 41.67%;}

.col-lg-4{width: 33.33333333%;}

.col-lg-3{width: 25%;}
.col-lg-2 {width: 16.66666667%;}
.col-lg-1 {width: 8.33333333%;} 
.col-lg-0 {display: none;}

.main-cover {flex-wrap: nowrap;}
.menu-header {flex-wrap: nowrap;}
#footer {margin-right: 0;}
.header {height: 20vh;}
/* #login-buttom {margin-left: 50%;} */
.register-process {min-height: 100vh; }
.btn-container {margin-bottom: 10%;}
.image-gallery {margin: 50px;}
}
/*medium device   */

@media all and (max-width: 1199px) and (min-width:992px)  {

.col-md-12 {width: 100%;}
.col-md-11 {width: 91.66666667%;}
.col-md-10 {width: 83.33333333%;}
.col-md-9 {width: 75%;}
.col-md-8 {width: 66.666666666%;}
.col-md-7 {width: 58.33333333%;}

.col-md-6 {width: 50%;}
.col-md-5 {width: 41.67%;}

.col-md-4{width: 33.33333333%;}

.col-md-3{width: 25%;}
.col-md-2 {width: 16.66666667%;}
.col-md-1 {width: 8.33333333%;}
.col-md-0 {display: none;}
.cover-image {width: 50%;}
.text-cover  {width: 50%;}
.title-text  {width: 50%;}
.subtitle-text {width: 50%;}
.description-text  {width: 50%;}
.miniature {width: 50%;}
.fa-umbrella-beach {width: 50%;}
#login-button{margin-left: 20%;}
.miniature {width: 30%;}
.fa-umbrella-beach {margin:0% 0% 10% 80% ;}
.images {width: 60%;} 
.cover-image{width: 60%;}
.states {justify-content: flex-start;}
#footer {height: 5%; margin: auto;}
.main-gallery{padding-bottom: 30%;}}
.cover-image {width: 100%;}
.session {width: 100%;}




/* small devices  */

  @media all and (max-width: 991px) and (min-width: 768px)

  {
.col-sm-12 {width: 100%;}
.col-sm-11 {width: 91.66666667%;}
.col-md-10 {width: 83.33333333%;}
.col-sm-9 {width: 75%;}
.col-sm-8 {width: 66.666666666%;}
.col-sm-7 {width: 58.33333333%;}

.col-sm-6 {width: 50%;}
.col-sm-5 {width: 41.67%;}

.col-sm-4{width: 33,33333333%;}

.col-sm-3{width: 25%;}
.col-sm-2 {width: 16.66666667%;}
.col-sm-1 {width: 8.33333333%;}
.col-sm-0 {display: none;}
.footer {width: 130%;}
.session{margin-bottom: 10%;}
.box-1{max-height: 200px;}
.box-2{max-height:200px ;}
.box-3{max-height:200px ;}
.session {margin: 0% 30%;}
#register-button {margin-left: 250%;}
.images {width: 80%;} 
.cover-image{width: 100%;}
#footer {margin-right: 0;}
.header {height:auto;}

 }

/* extra small devices */

@media all and (max-width: 767px){

.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.666666666%;}
.col-xs-7 {width: 58.33333333%;}

.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.67%;}

.col-xs-4{width: 33,33333333%;}

.col-xs-3{width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}
.col-xs-0 {display: none;}

/* .main-register { padding-bottom:100%;} */
/* responsive header  */

.session{margin-bottom: 10%;}
.logo-header{margin-top: 10%;}
#footer {height:auto; width: 100vw; margin-right: auto;bottom: 0; }
.cover-image {height: inherit;}


/* .session {margin-right: 5rem;} */
#login-buttom {margin-right: 20%;}
.form-select {width: 50vw;} 
#register-buttom {margin-right: 10%;}
header {width: 100vw;}
/* responsive beach detail */
.main-detail {height: 100vh;}
.container-beach {padding: 20% 0%;}
.detail-beach {width: 90%;}
.text-beach {font-size: 1.5em;margin-left:10% ;padding-top: 10%; height:100% ; margin-top: 20%; }
/* responsive main cover */
.images {width: auto;} 

.link-cover { margin-right:30% ;margin-top: 5em; }
.miniature {height: 30%;}














/* last-star permite crear un margen entre la ultima imagen y el footer para evitar que choquen en tamaños de pantalla xs */
/* #last-star {margin-bottom:100%;} */
#states-title{font-size: 150%;}
.menu-header{ flex-direction: column; align-items: center;padding: 5%;}
.menu-header p {padding: 5% 0%;}
.main {padding-bottom: 35%; width: 100vw;}
.container-beach {height: 100vh; margin-top: 10%; margin-bottom: 80%;}
.detail-beach {margin-left: 5%;}
.text-beach{margin-top: 20rem;}
.text-cover {height: 500px;}
.text-cover p {font-size: 1rem;}
#passwordInput, [for*="pass"]  {margin-left: 0;}

 .btn-primary {width:7rem;}


.header {width: 100vw;}
.image-gallery{width: 80%;margin-right: 0;margin-left:10%;justify-content: center;}
.gallery-container h2,h3 {font-size: 2rem; padding-bottom: 10%;}
.main-gallery {padding-bottom: 50%;}

/* .image-gallery {mar80in-left:20%;} */
}


